.cards-list-container {
  .event-card {
    color: $event-font-color;
    text-decoration: none;
  }

  .event-card-content {
    border-radius: 15px;
    padding: 5px 10px;
  }

  .card-container {
    padding: 15px 0;
  }

  .card-container:hover {
    .event-card-content {
      background-color: $event-card-hover-bg;
    }
  }

  .card-container:not(:first-child) {
    border-top: 1px solid $event-card-border;
  }
}

.staged-event-byline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
