.cards-list-container {
  .event-card {
    color: $event-font-color;
    text-decoration: none;
  }

  .card-container {
    padding: 20px 0;
  }

  .card-container:not(:first-child) {
    border-top: 1px solid $event-card-border;
  }
}

