.form-container {
  margin: 25px auto;
  padding: 25px;
  max-width: 800px;
  min-height: 525px;

  button {
    background-color: $submit-btn-bg;
    padding: 5px 8px;
  }

  input {
    width: 100%;
  }

  label {
    font-weight: 700;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 170px;
    padding: 15px 0;
  }

  .dp__menu {
    z-index: 5000;
  }

  .invalid-feedback {
    color: $form-error-color;
  }
}

.form-control {
  border: 1px solid black;
}
