.layout-with-subnav {
  display: flex;
  flex-direction: column;
}

.main-content-container {
  padding: 15px;
}

@media screen and (min-width: $sm-max) {
  .layout-with-subnav {
    display: flex;
    flex-direction: row;
    width: 100%;

    .subnav {
      padding: 15px 25px;
      width: 30%;
    }

    .sub-content-container {
      padding: 15px 25px;
      width: 100%;
    }
  }
}