// Colors
// Greens
$color-bitter-lemon: #C3EB20ff;
$color-inchworm: #8FDB5Bff;
$color-emerald: #5DC379ff;
$color-medium-sea-green: #5ec379;
$color-sea-green: #328648;

// Monochrome
$color-cultured: #f8f9faff;
$color-cultured-2: #e9ecefff;
$color-gainsboro: #dee2e6ff;
$color-light-gray: #ced4daff;
$color-cadet-blue-crayola: #adb5bdff;
$color-sonic-silver: #6c757dff;
$color-davys-grey: #495057ff;
$color-onyx: #343a40;
$color-eerie-black: #212529ff;


// Variables
// General
$general-bgc: $color-cultured;
$general-font-color: $color-davys-grey;
$general-font-size: 18px;

// Navigation
$nav-bgc: $color-medium-sea-green;
$nav-font-color: $color-cultured;
$nav-font-size: 20px;
$nav-link-color: $color-cultured;
$nav-link-hover: $color-sea-green;