// Colors
// Blues
$color-light-cyan: #CAF0F8;
$color-non-photo: #90E0EF;
$color-pacific-cyan: #00B4D8;
$color-info-blue: #2196f3;
$color-honolulu: #0077B6;
$color-fed-blue: #03045E;

// Greens
$color-bitter-lemon: #C3EB20ff;
$color-inchworm: #8FDB5Bff;
$color-emerald: #5DC379ff;
$color-medium-sea-green: #5ec379;
$color-sea-green: #328648;
$color-deep-sea: #007246;
$color-success-green: #4caf50;

// Reds
$color-dark-red: #893232;
$color-red: #d91616;
$color-pale-red: #fadddd;
$color-pale-red-gray: #f7cbcb;

// Monochrome
$color-white: #FFF;
$color-cultured: #f8f9faff;
$color-cultured-2: #e9ecefff;
$color-gainsboro: #dee2e6ff;
$color-light-gray: #ced4daff;
$color-cadet-blue-crayola: #adb5bdff;
$color-sonic-silver: #6c757dff;
$color-davys-grey: #495057ff;
$color-onyx: #343a40;
$color-eerie-black: #212529ff;