// Main Layout
$main-bg: $color-cultured;
$main-font: $color-onyx;
$main-link: $color-deep-sea2;
$main-link-hover: $color-deep-sea;
$main-nav-bg: $color-medium-sea-green;
$main-nav-font: $color-cultured;
$main-nav-font-size: 22px;
$main-nav-bg-hover: $color-deep-sea;

$warning-color: $color-orange-darkened;

// Admin
$admin-nav-border: $color-light-gray;

// Buttons
$danger-color: $color-red;
$danger-hover-font: $color-dark-red;

// Cards
$card-hover-color: $color-nyanza;
$event-card-border: $color-deep-sea;

// Dashboard
$admin-card-link-color: $color-davys-grey;
$admin-nav-link: $color-honolulu;
$user-stats: $color-info-blue;
$event-stats: $color-success-green;

// Events
$edit-link-color: $color-info-blue;
$edit-link-hover: $color-fed-blue;

// Forms
$btn-bg-color: $color-deep-sea;
$btn-border: $color-deep-sea;
$btn-font: $color-cultured;
$btn-hover-bg: $color-cultured;
$btn-hover-font: $color-deep-sea;
$danger-header-color: $color-dark-red;
$input-border-color: $color-davys-grey;
$invalid-err-color: $color-red;
$title-color: $color-deep-sea;

// Headers
$headings : h1 h2 h3 h4 h5 h6;
$h-color: $color-deep-sea;

// Links
$link-color: $color-medium-sea-green;
$link-hover: $color-deep-sea;

$inverted-link-bg: $color-medium-sea-green;
$inverted-link-color: $color-cultured;
$inverted-link-hover: $color-deep-sea;

$footer-link-color: $color-sonic-silver;
$footer-link-hover: $color-onyx;

$bth-link: $color-sonic-silver;

// SubNav
$subnav-border: $color-cadet-blue-crayola;
$subnav-link-color: $color-medium-sea-green;
$active-link-color: $color-cadet-blue-crayola;