// Main Layout
$main-bg: $color-cultured;
$main-font: $color-onyx;
$main-link: $color-medium-sea-green;
$main-link-hover: $color-deep-sea;
$main-nav-bg: $color-medium-sea-green;
$main-nav-font: $color-cultured;
$main-nav-font-size: 22px;
$main-nav-bg-hover: $color-deep-sea;

// Forms
$btn-bg-color: $color-deep-sea;
$btn-border: $color-deep-sea;
$btn-font: $color-cultured;
$btn-hover-bg: $color-cultured;
$btn-hover-font: $color-deep-sea;
$input-border-color: $color-davys-grey;
$invalid-err-color: $color-red;
$title-color: $color-deep-sea;

// Links
$link-color: $color-medium-sea-green;
$link-hover: $color-deep-sea;