// Main Layout
$main-bg: $color-cultured;
$main-font: $color-onyx;
$main-nav-bg: $color-medium-sea-green;
$main-nav-font: $color-cultured;
$main-nav-font-size: 22px;
$main-nav-bg-hover: $color-deep-sea;

// Forms
$input-border-color: $color-davys-grey;
$invalid-err-color: $color-red;