@import './variables';

body {
  background-color: $base-bgcolor;
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.skip-nav {
  left: 0;
  padding: 8px 16px;
  position: absolute;
  top: -96px;
  z-index: 100;
}