// Colors
$color-yellow-green-crayola: #d9ed92ff;
$color-yellow-green-crayola-2: #b5e48c;
$color-granny-smith-apple: #99d98c;
$color-ocean-green: #76c893;
$color-keppel: #52b69aff;
$color-viridian-green: #34a0a4;
$color-blue-munsell: #168aad;
$color-cg-blue: #1a759fff;
$color-lapis-lazuli: #1e6091ff;
$color-yale-blue: #184e77;

// Monochrome
$color-cultured: #f8f9faff;
$color-cultured-2: #e9ecefff;
$color-gainsboro: #dee2e6ff;
$color-light-gray: #ced4daff;
$color-cadet-blue-crayola: #adb5bdff;
$color-sonic-silver: #6c757dff;
$color-davys-grey: #495057ff;
$color-onyx: #343a40;
$color-eerie-black: #212529ff;