// Colors
$color-crimsom-red: #8c1a18;
$color-carnelian: #BB2220;
$color-light-coral: #ed9593;
$color-vivid-tangerine: #eda493;
$color-misty-rose: #FAE0E0;
$color-tumbleweed: #edb393;
$color-gold-crayola: #edc393;
$color-deep-champagne: #edd293;
$color-deep-champagne-50: rgba(237, 210, 147, .5);
$color-green-yellow-crayola: #ede293;
$color-keylime: #e9ed93;
$color-yellow-green-crayola: #d9ed92;
$color-yellow-green-crayola-50: rgba(217, 237, 146, .5);
$color-yellow-green-crayola-2: #b5e48c;
$color-granny-smith-apple: #99d98c;
$color-honeydew: #E8F6EC;
$color-ocean-green: #76c893;
$color-medium-sea-green: #5ec379;
$color-emerald: #5DC379;
$color-spanish-green: #379550;
$color-keppel: #52b69aff;
$color-cyan: #D7F2FA;
$color-viridian-green: #34a0a4;
$color-blue-munsell: #168aad;
$color-cg-blue: #1a759fff;
$color-lapis-lazuli: #1e6091ff;
$color-yale-blue: #184e77;

// Monochrome
$color-cultured: #f8f9faff;
$color-cultured-2: #e9ecefff;
$color-gainsboro: #dee2e6ff;
$color-light-gray: #ced4daff;
$color-cadet-blue-crayola: #adb5bdff;
$color-sonic-silver: #6c757dff;
$color-davys-grey: #495057ff;
$color-onyx: #343a40;
$color-eerie-black: #212529ff;