@import './color_palette';

$base-bgcolor: $color-cultured;
$form-btn-border: $color-granny-smith-apple;
$form-btn-color: $color-granny-smith-apple;
$form-cont-bgc: $color-cultured;
$form-cont-border-color: $color-keppel;
$form-field-border-color: $color-onyx;
$form-font-color: $color-onyx;
$form-outline-color: $color-ocean-green;
$navbar-color: $color-keppel;
$navicon-cont-color: $color-cultured-2;
$text-color: $color-eerie-black;

// Screen Sizes
$width-sm: 640px;
$width-md-min: 641px;
$width-md-max: 1007px;
$width-lg: 1008px; 