@import './color_palette';

// Screen Sizes
$width-sm: 640px;
$width-md-min: 641px;
$width-md-max: 1007px;
$width-lg: 1008px;

// Base variables
$font-color: $color-davys-grey;
$font-size: 18px;
$heading-color: $color-sonic-silver;
$link-color: $color-blue-munsell;
$link-color-hover: $color-keppel;

// Navigation Bar
$nav-bg: $color-medium-sea-green;
$nav-link-bg: #5EA68E;
$nav-link-color: $color-cultured;
$nav-link-hover: $color-blue-munsell;

// Alerts and Messages
$comm-border-rad: 15px;
$comm-border-sz: 5px;
$comm-font-sz: 16px;
$msg-bg: $color-honeydew;
$msg-border: $color-medium-sea-green;
$msg-font: $color-spanish-green;

// Forms
$form-border-color: $color-keppel;
$form-border-sz: 5px;
$form-btn-color: $color-keppel;
$form-btn-hover: $color-cultured;
$form-color: $color-cultured;
$form-color-hover: $color-spanish-green;
$form-text-border: $color-davys-grey;
$form-text-focus: $color-lemon-yellow;
$form-width: 300px;