<footer>
  <div class="social-links">
    <a href="https://github.com/Sun-Mountain/lettuceMeetApp" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/lettuceMeet_App" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  </div>
  <div>
    About Us (Coming soon)<br />
    Terms of Service (Coming soon)<br />
    FAQ (Coming soon)
  </div>
</footer>