<footer>
  <div class="icons">
    <a href="https://github.com/Sun-Mountain/lettuceMeetApp" target="_blank"><i class="fa-brands fa-github"></i></a>
  </div>
  <div class="links">
    About Us (Coming soon)
  </div>
</footer>