<head>
  <title>Lettuce Meet App</title>

  <meta charset="utf-8">

  <%# <meta name='description' content='<%= yield_meta_tag(:description, 'TODO: Add meta tag description') %>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('lettuce.png') %>
</head> 