<div class="alert-cont msg">
  <strong>Welcome to Lettuce Meet.</strong><br /><br />
  <div>
    Lettuce Meet was a joke project for a coding bootcamp in 2019. Now it is a combination coding exercise / let's see if this really works kind of project.
  </div><br />
  <div>
    Currently we are in our Alpha stage. Feel free to poke around but we are currently not looking for any active users.
  </div><br />
  <div>
    Thank you from the Team.
  </div>
</div>