<a class="skip-nav" href="#main">Skip to main content</a>

<nav class="navbar" id="navigation-bar">
  <div id="icon-container">
    <%= image_tag("lettuce.png", :alt => "Lettuce Meet Logo") %>
  </div>
</nav>