<a class="skip-nav" href="#main">Skip to main content</a>

<nav class="navbar" id="navigation-bar">
  <div id="icon-container">
    <%= image_tag("lettuce_logo_ph.png", :alt => "Lettuce Meet Logo") %>
  </div>

  <% if user_signed_in? %>
    <div id="topNavLinks" class="topNavLinks">
      <%= button_to "Sign Out", destroy_user_session_path, class: 'topNav-btn', method: :delete, name: 'user_sign_out' %>

      <%= button_to "Edit Profile", edit_registration_path(User), class: 'topNav-btn', method: :get, name: 'user_edit' %>
    </div>
  <% end %>
</nav>