<h2><%= @event.title %></h2>

<%= link_to "Edit Event", edit_event_url(@event.id), data: {test: "edit_event"} %>

<%= button_to "Delete", event_path(@event.id), data: { confirm: 'Are you sure you want to delete this lesson?' }, method: :delete, class: "delete-btn" %>