<h2><%= @event.title %></h2>

<%= link_to "Edit Event", edit_event_url(@event.id), data: {test: "edit_event"} %>

<%= button_to "Delete", event_path(@event.id), method: :delete, data: {test: 'delete_event'} %>