// General
$general-font-color: $color-davys-grey;

// Navigation
$nav-bgc: $color-medium-sea-green;


// Screen Sizes
$width-sm: 640px;
$width-md-min: 641px;
$width-md-max: 1007px;
$width-lg: 1008px;