.stats-container-link {
  display: flex;
  color: $admin-card-link-color;
  flex-direction: row;
  text-decoration: none;

  .stats {
    line-height: 85px;
    padding: 15px;
  }

  .event-stats-header {
    color: $event-stats;
  }

  .user-stats-header {
    color: $user-stats;
  }
}