.stats-container-link {
  display: flex;
  color: $admin-card-link-color;
  flex-direction: row;
  text-decoration: none;

  .stats {
    padding: 15px;

    h2 {
      margin-top: 20px;
    }
  }

  .event-stats-header {
    color: $event-stats;
  }

  .user-stats-header {
    color: $user-stats;
  }
}