.stats-link {
  border-radius: 15px 15px;
  color: $admin-card-link-color;
  display: flex;
  flex-direction: row;
  padding: 14px;
  text-decoration: none;

  .stats {
    padding: 15px;

    h2 {
      margin-top: 20px;
    }
  }

  .event-stats-header {
    color: $event-stats;
  }

  .user-stats-header {
    color: $user-stats;
  }
}

.stats-link:hover {
  background-color: $card-hover-color;
}