.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .event-card+.event-card {
    margin-left: 20px;
  }
}

.event-card {
  border: 1px solid $event-card-border !important;
  margin-bottom: 20px;
}

.mini-card {
  height: 250px;
  width: 150px;
}

.user-card {
  border: 1px solid $event-card-border !important;
  margin-bottom: 20px;

  .v-card-item__content {
    display: flex;
    justify-content: space-between;
  }

  .info-container {
    display: flex;
  }

  .icon-container {
    height: 100%;
    margin: auto 0;
    padding: 20px 0;
  }

  .name-container {
    padding: 15px;
  }

  .badges-container {
    display: flex;
    flex-direction: column;

    .v-icon {
      font-weight: 700;
    }

    .v-icon+.v-icon {
      margin-top: 5px;
    }
  }
}