.form-container {
  margin: 0 auto;
  max-width: 45rem;

  a, a:visited {
    border-bottom: 2px solid $color-white;
    color: $link-color;
    font-weight: 700;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid $link-hover;
    color: $link-hover;
  }

  button {
    background-color: $btn-bg-color;
    border: 2px solid $btn-border;
    border-radius: 5px;
    color: $btn-font;
    font-weight: 700;
    padding: 12px;
  }

  button:hover {
    background-color: $btn-hover-bg;
    color: $btn-hover-font;
  }

  input {
    border: solid 1px $input-border-color;
    width: 100%;
  }

  label {
    font-weight: 700;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }

  .invalid-feedback {
    color: $invalid-err-color;
    font-weight: 700;
  }

  .is-invalid {
    border: 2px solid $invalid-err-color;
  }

  .v-card-title {
    color: $title-color;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.75rem !important;
    padding-bottom: 0;
  }
}