nav {
  background-color: $nav-bgc;
  padding-top: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .accordion-body {
    padding: 0;
  }

  .accordion-button:not(.collapsed) {
    box-shadow: 0px 0px 0px 0px !important;
  }

  .accordion-header {
    color: $general-bgc;
  }

  .nav_logo_container {
    margin: 0 auto;

    .logo {
      width: 120px;
      height: auto;
    }
  }

  .nav_links_container {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    text-align: center;

    .nav_accordion {
      --cui-accordion-active-color: $general-bgc;
      --cui-accordion-bg: $nav-bgc;
      --cui-accordion-active-bg: $nav-bgc;
      --cui-accordion-btn-icon: none;
      --cui-accordion-btn-active-icon: none;
    }

    .nav-direction {
      margin: 0 auto;
    }

    .nav-link, .nav-link:visited {
      color: $nav-link-color;
      font-size: $nav-font-size;
      font-weight: 600;
      margin: 0 auto;
      padding: 8px 0 4px 0;
      text-decoration: none;
      width: 100%;
    }

    .nav-link:hover {
      background-color: $general-bgc;
      color: $nav-link-hover;
    }

    button {
      background-color: $nav-bgc;
      border: 0;
      color: $nav-link-color;
      font-size: $nav-font-size;
      font-weight: 600;
      padding: 8px 0 4px 0;
    }

    button:hover {
      background-color: $general-bgc;
      color: $nav-link-hover;
      cursor: pointer;
    }

    button:after {
      content: none;
   }
  }
}