@import '../theme/0_theme';

#adminDashboard_main {
  width: 100%;
}

#adminDash_stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 18px 10px;
  width: 100%;

  .dash_link {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px 25px;
  }

  a,a:visited,.dash_link,.dash_link:visited {
    text-decoration: none;
    font-weight: 700;
  }
  a:hover,.dash_link:hover {
    border-bottom: 2px solid $color-emerald;
    color: $color-emerald;
  }

  .fa-solid {
    margin-bottom: 8px;
  }
}

#adminDash_welcome {
  h2 {
    margin-top: 0;
  }
}

.admin-list {
  list-style: none;
  padding: 0;

  .user-list {
    background-color: $color-deep-champagne-50;
    border: 2px solid $color-lapis-lazuli;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px 30px;
    width: 80%;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
  }
}