@import '../theme/variables';

.comm-container {
  border-radius: $comm-border-rad;
  font-size: $comm-font-sz;
  padding: 15px;
}

.msg-container {
  background-color: $msg-bg;
  border: $comm-border-sz solid $msg-border;
  color: $msg-font;
}