@import '../theme/0_theme';

.event-date-container {
  display: flex;
  flex-direction: row;
}

.event-form-wrapper {
  .text-field {
    border: 2px $form-text-border solid;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size;
    margin: 4px auto;
    padding: 8px;
    width: 93%;
  }

  input[type="submit"] {
    background-color: $form-btn-color;
    border: 3px $form-btn-hover solid;
    color: $form-color;
    font-size: 16px;
    margin: 12px 0 8px;
    padding: 8px;
  }

  input[type="submit"]:hover {
    background-color: $form-btn-hover;
    border: 3px $form-btn-color solid;
    color: $form-color-hover;
    cursor: pointer;
  }
}