@import '../theme/0_theme';

footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  a,a :visited {
    color: $footer-link-color;
  }

  a:hover {
    color: $footer-hover-color;
  }

  .icons {
    font-size: 35px;

    .fa-brands {
      color: $footer-link-color;
    }

    .fa-brands:hover{
      color: $footer-hover-color;
      cursor: pointer;
    }
  }

  .links {
    font-size: 14px;
    padding-top: 0.5rem;
  }
}