@import '../theme/0_theme';

.navbar {
  background-color: $navbar-color;
  display: flex;
  flex-direction: column;

  #icon-container {
    margin: 5px auto 0 auto;

    img {
      background-color: none;
      width: 70px;
      height: auto;
    }
  }

  #topNavLinks {
    a, a:visited {
      background-color: $navbar-color;
      font-weight: 500;
      font-size: 22px;
      padding: 10px;
      text-decoration: none;

      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
  
    a:hover {
      background-color: $color-viridian-green;
    }
  }

  a, a:visited {
    color: $color-cultured;
  }

  button {
    background-color: $navbar-color;
    border: 0;
    color: $color-cultured;
    font-weight: 500;
    font-size: 22px;
    padding: 10px;
    height: 100%;
    width: 100%;
  }

  button:hover {
    background-color: $color-viridian-green;
    cursor: pointer;
  }
}

#adminNavBar {
  background-color: $color-blue-munsell;
  color: $color-cultured;
  display: flex;
  flex-direction: column;

  a {
    padding: 5px 10px;
  }

  a,.admin_link, .admin_link:visited {
    color: $color-cultured;
    text-decoration: none;
  }

  a:hover,.admin_link:hover {
    background-color: $color-cultured;
    color: $color-blue-munsell;
  }

  .current_admin_page {
    background-color: $color-cultured;
    color: $color-blue-munsell;
  }
}


@media only screen and (min-width: $width-sm) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #icon-container {
      margin: 5px 15px;
    }

    #topNavLinks {
      display: flex;
      flex-direction: row;
    }
  }

  #adminNavBar {
    display: flex;
    flex-direction: row;
  }
}