<div id="landing-page__container">
  <% if user_signed_in? %>
    <ul>
      <% @events.each do |article| %>
        <li>
          <%= article.title %>
        </li>
      <% end %>
    </ul>

    <%= link_to "+ Event", new_event_path %>
  <% end %>
</div>