// Navigation
// Main
$main-nav-bg: $color-medium-sea-green;
$main-nav-font-color: $color-cultured;

// Forms
$submit-btn-bg: $color-medium-sea-green;
$form-error-color: $color-dark-red;

// Events
$event-card-border: $color-light-gray;

// SubNav
$subnav-link-color: $color-medium-sea-green;
$active-link-color: $color-cadet-blue-crayola;